<%= form_with model:@customer, url: customers_path,method: :patch do |customer| %>
<table class="table">
 <tbody>
  <tr>
   <th><%= customer.label :nickname,"ニックネーム"%></th>
   <td><%= customer.text_field :nickname %></td>
  </tr>
  <tr>
   <th><%= customer.label :email,"メール"%></th>
   <td><%= customer.text_field :email%></td>
  </tr>
 </tbody>
</table>
<%= customer.submit'変更を保存する',class: "btn btn-success"%>
<% end %>