<h1>TOPページ</h1>
<%= render 'maps/google_map', maps: @maps,map: @map %>
<div>ブックマーク数</div>
<%= @bookmarks.count%>
<%= current_shop.name%>
<%= current_shop.address%>
<%= current_shop.introduction%>
<%= current_shop.email%>
<%= link_to "マイページを編集する",shop_mypage_edit_path %>
<h3>店舗画像一覧</h3>
<% @shop_photos.each do |photo|%>
<%= link_to shop_shop_photo_path(photo.id) do %>
<%= image_tag photo.image %>
<% end %>
<% end %>
<h3>ブログ一覧</h3>
<% @blogs.each do |blog|%>
<% link_to shop_blog_path(blog.id) do %>
<%= blog.title%>
<% end %>
<% end %>
<h3>レビュー一覧</h3>
<% @reviews.each do |review|%>
<%= link_to  shop_review_path(review.id) do %>
<%= review.title%>
<% end %>
<% end %>