<h1 class="h1-text">レビュー一覧</h1>
<table class="table">
 <thead>
  <tr>
   <th><%= "投稿者"%></th>
   <th><%= "タイトル"%></th>
   <th><%= "作成日時"%></th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <% @reviews.each do |review|%>
   <td><%=review.customer.nickname %></td>
   <td><%= link_to shop_review_path(review.id) do %>
      <%=review.title%></td>
      <% end %>
   <td><%= review.created_at.strftime("%Y/%m/%d")%></td>
  </tr>
  <% end %>
  <%= paginate @reviews %>
 </tbody>
</table>
