<h1 class="h1-text">レビュー一覧</h1>
<table class="table">
 <thead>
  <tr>
   <th><%= "投稿者"%></th>
   <th><%= "タイトル"%></th>
   <th><%= "作成日時"%></th>
   <th><%= ""%></th>
  </tr>
 </thead>
 <tbody>
   <% @reviews.each do |review|%>
  <tr>
   <td><%=review.customer.nickname %></td>
   <td><%=review.title%></td>
   <td><%= review.created_at.strftime("%Y/%m/%d")%></td>
   <td><%= link_to"詳細ページへ", shop_review_path(review.id) %></td>
  </tr>
  <% end %>
 </tbody>
</table>
  <%= paginate @reviews %>
