<h1 class="h1-text">登録店舗一覧</h1>
<table class="table">
 <thead>
  <tr>
   <th><%="店舗名"%></th>
   <th><%="住所"%></th>        
  </tr>
 </thead>
 <tbody>
  <tr>
    <% @bookmarks.each do |store|%>
   <td><%= link_to store_path(store.id) do %>
       <%= store.shop.name%></td>
   <td><%= store.shop.address%></td>
  </tr>
    <% end %>
    <% end %>
    <%=  paginate @bookmarks %>
 </tbody>
</table>