<% if customer_signed_in? %>
<%= link_to '一覧へ戻る',stores_path, class: "btn btn-primary" %>
<% end %>
<h2><%=@store.name+"のページ"%></h2>
<div id='map'></div>
<%=@store.address%>
<h3 class="h3-text">店舗情報</h3>
<table class="table">
 <tbody>
  <tr>
   <th><%= "店舗説明"%></th>    
   <td><%=@store.introduction%></td>
  </tr>
  <tr>
   <th><%= "営業時間"%></th>  
   <td><%= @store.opening_hours%></td>
  </tr>
    <% if @store.link.present? %>
  <tr>
   <th><%= "リンク"%></th>  
   <td><%= link_to "ホームページ", @store.link %></td>
  </tr>
     <% end %>
  </tbody>
 </table>
<h3 class="h3-text">店舗画像</h3>
<table class="table">
 <thead>
  <tr>
   <th><%="作成日時"%></th>
   <th><%="店舗画像"%></th>
   <th><%=""%></th>
  </tr>
 </thead>
 <tbody>
   <% @store_photo.each do |f| %>
  <tr>
    <td><%= f.created_at.strftime("%Y/%m/%d")%></td>
    <td><%= image_tag f.image%></td>
    <td><%= link_to"詳細ページへ", store_photo_path(f.id) %></td>
  </tr>
　<% end %>　
 </tbody>
</table>
<%= paginate @store_photo %>
<h3 class="h3-text">ブログ</h3>
<table class="table">
 <thead>
  <tr>
   <th><%="作成日時"%></th>
   <th><%="タイトル"%></th>
   <th><%=""%></th>
  </tr>
 </thead>
 <tbody>
    <% @blog.each do |blog| %>
  <tr>
   <th><%= blog.created_at.strftime("%Y/%m/%d")%></th>
   <td><%= blog.title%></td>
   <td><%= link_to"詳細ページへ", blog_path(blog.id) %></td>
  </tr>
    <% end %>
 </tbody>
</table>
<%=  paginate @blog %>
<% if customer_signed_in? %>
<%=link_to "レビューする",  new_review_path,class: "btn btn-success"  %>
<% if @store.bookmarked_by?(current_customer) %>
  <td><%= link_to "ブックマークを外す", store_bookmarks_path(@store), method: :delete,class: "btn btn-danger" %></td>
<% else %>
  <td><%= link_to "ブックマークをする", store_bookmarks_path(@store), method: :post,class: "btn btn-success" %></td>
<% end %>
<% end %>
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>
<script>
    let map

    // mapの表示関数 
    function initMap() {
        geocoder = new google.maps.Geocoder()

        // mapの初期位置, 縮尺を定義
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: <%= @store.latitude%>,
                lng: <%= @store.longitude%>
            },
            zoom: 15,
        });
          new google.maps.Marker({
              position:{lat: <%= @store.latitude %>, lng: <%= @store.longitude %>},
              map: map
              
         });
    }
</script>    
<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"  
    async defer>
</script>