<h2>Google map</h2>

<input id="address" type="textbox" value="">
<input type="button" value="地図を検索" onclick="codeAddress()">
<div id="display">緯度経度が表示されるよ！</div>

<div id='map'></div>

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<script>
    let map;

    // mapの表示関数 
    // initMap(35.6010006,139.7218381)
    function initMap(lat, lng) {
        <% mapNotFlg = true %>
        <% Shop.all.each do |shop| %>
            <% if shop.latitude.present? && shop.longitude.present? %>
                <% if mapNotFlg %>
                    // mapの初期位置, 縮尺を定義
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: (typeof lat === 'number') ? lat : <%= shop.latitude %>,
                            lng: (typeof lng === 'number') ? lng : <%= shop.longitude %>,
                            // lat: 35.6010006,
                            // lng: 139.7218381
                        },
                        zoom: 15,
                    });
                    new google.maps.Marker({
                        position:{lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
                        map: map
                    });
 
                    <% mapNotFlg = false %>
                <% else %>
                    new google.maps.Marker({
                        position:{lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
                        map: map
                    });

                <% end %>
            <% end %>
        <% end %>
    }
        function codeAddress() {

        let inputAddress = document.getElementById('address').value;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode( { 'address':inputAddress}, function(results, status) {
          // ジオコーディングが成功した場合
          if (status == google.maps.GeocoderStatus.OK) {
            console.log(status)
            map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: results[0].geometry.location.lat(),
                            lng: results[0].geometry.location.lng()
                        },
                        zoom: 15,
                    });
            <% Shop.all.each do |shop| %>
                <% if shop.latitude.present? && shop.longitude.present? %>
                    <% if mapNotFlg %>
                        // mapの初期位置, 縮尺を定義
                        new google.maps.Marker({
                            position:{lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
                            map: map
                        });
                        <% mapNotFlg = false %>
                    <% else %>
                        new google.maps.Marker({
                            position:{lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
                            map: map
                        });
                    <% end %>
                <% end %>
            <% end %>
            
           
          // ジオコーディングが成功しなかった場合
          }   
        });
    }
</script>



<script
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"  
    async defer>
</script>

<!--<h3>場所投稿フォーム</h3>-->
<!--<#%= form_with model: map, url: maps_path, method: :post do |f| %>-->

<!--    <p>-->
<!--    <%#= f.label :address %>-->
<!--    <%#= f.text_field :address, size: "50x1" %>-->
<!--    </p>-->

<!--    <%#= f.submit "送信", id: "button", onclick: "return codeAddress()" %>-->
<!--<%# end %>-->

<!--<h3>場所一覧</h3>-->
<!--<%# maps.each do |t| %>-->
<!--    <p>住所 : <%#= t.address %></p>-->
<!--    <p>緯度 : <%#= t.latitude %></p>-->
<!--    <p>経度 : <%#= t.longitude %></p>-->
<!--    <p><%#= link_to "削除する", map_path(t.id), method: :delete %></p>-->
<!--    <hr>-->
<!--<%# #end %>-->

