 <%= render 'maps/google_map', {maps: @maps,map: @map, shops: @shops} %>
<p id="notice"><%= notice %></p>
<h3 class="h3-text" >店舗一覧</h3>
 <table class="table">
  <thead>
   <tr>
    <th><%="店舗名"%></th>
    <th><%="住所"%></th>
    <th><%= ""%></th>
   </tr>
  </thead>
  <tbody>
    <% @shops.each do |shops|%>
   <tr>
    <td><%= shops.name %></td>
    <td><%= shops.address%></td>
    <td><%=link_to"詳細ページへ", store_path(shops.id)%></td>
   </tr>
  </tbody>
  <% end %>
  </table>
  <%= paginate @shops%>
 <% if customer_signed_in? %>
<h3 class="h3-text">ブックマーク店舗画像一覧</h3>
<table class="table">
 <thead>
  <tr>
   <th><%= "店舗名"%></th>
   <th><%= "画像"%></th>
   <th><%= "作成日時"%></th>
  </tr>
 </thead>
 <tbody>
  <% @shop_photos.each do |photo|%>
  <tr>
   <td><%=link_to store_photo_path(photo.id) do%>
       <%=photo.shop.name%></td>
       <% end %>
   <td><%=image_tag photo.image%></td>
   <td><%=photo.created_at.strftime("%Y/%m/%d")%></td>
  </tr>
  <% end %>
 </tbody>
</table>
<%= paginate @shop_photos %>
 <table>
  <tbody>
   <tr>
    <th><%= "ブックマーク店舗数数"%></th>
    <td><%= link_to stores_path do%>
         <%=@bookmarks.count%>
         <% end %></td>
   </tr>
  </tbody>
 </table>
<h3 class="h3-text">ブックマーク店舗一覧</h3>
<table class="table">
 <thead>
  <tr>
   <th><%="店舗名"%></th>
   <th><%="住所"%></th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <% @bookmarks.each do |stores|%>
   <td><%= link_to store_path(stores.id) do%>
       <%= stores.shop.name%></td>
   <td><%= stores.shop.address%></td>
  </tr>
       <% end %>
       <% end %>
       
 </tbody>
</table>
<%= paginate @bookmarks %>
<h3 class="h3-text">ブックマーク店舗ブログ一覧</h3>
<table class="table">
 <thead>
  <tr>
   <th><%="作成日時"%></th>
   <th><%="タイトル"%></th>
   <th><%="店舗名"%></th>  
  </tr>
 <tbody>
  <tr>
   <% @blog.each do |blog|%>
   <th><%= blog.created_at.strftime("%Y/%m/%d")%></th>
   <td><%= link_to blog_path(blog.id) do%>
       <%= blog.title%></td>
       <% end %>
   <td><%= link_to store_path(blog.id) do%>
       <%= blog.shop.name%></td> 
       <% end %>
  </tr>
       
       <% end %>
      
 </tbody>
</table>
 <%= paginate @blog %>
<% else %>
<% end %>