 <%= render 'maps/google_map', {maps: @maps,map: @map, shops: @shops} %>
<!--<p id="notice"><%#= notice %></p>-->
<h3 class="h3-text" >店舗一覧</h3>
 <table class="table">
  <thead>
   <tr>
    <th><%="店舗名"%></th>
    <th><%="住所"%></th>
    <th><%= ""%></th>
   </tr>
  </thead>
  <tbody>
    <% @shops.each do |shops|%>
   <tr>
    <td><%= shops.name %></td>
    <td><%= shops.address%></td>
    <td><%=link_to"詳細ページへ", store_path(shops.id)%></td>
   </tr>
  </tbody>
  <% end %>
  </table>
  <%= paginate @shops%>
 <% if customer_signed_in? and @bookmarks&.any? %>
 <h3 class="h3-text">ブックマーク店舗一覧</h3>
<table class="table">
 <thead>
  <tr>
   <th><%="店舗名"%></th>
   <th><%="住所"%></th>
   <th><%=""%></th>
  </tr>
 </thead>
 <tbody>
   <% @bookmarks.each do |bookmark|%>  
  <tr>
   <td><%= bookmark.shop.name%></td>
   <td><%= bookmark.shop.address%></td>
   <td><%= link_to"詳細ページへ", store_path(bookmark.shop.id) %></td>
  </tr>
     <% end %>
 </tbody>
</table>
<%= paginate @bookmarks, param_name: 'bookmarks_page'  %>
<h3 class="h3-text">ブックマーク店舗画像一覧</h3>
<table class="table">
 <thead>
  <tr>
   <th><%= "店舗名"%></th>
   <th><%= "画像"%></th>
   <th><%= "作成日時"%></th>
   <th><%=""%></th>
  </tr>
 </thead>
 <tbody>
  <% @shop_photos.each do |photo|%>
  <tr>
   <td><%=photo.shop.name%></td>
   <td><%=image_tag photo.image%></td>
   <td><%=photo.created_at.strftime("%Y/%m/%d")%></td>
   <td><%=link_to"詳細ページへ", store_photo_path(photo.id) %></td>
  </tr>
  <% end %>
 </tbody>
</table>
<%= paginate @shop_photos, param_name: 'shop_photos_page' %>
<h3 class="h3-text">ブックマーク店舗ブログ一覧</h3>
<table class="table">
 <thead>
  <tr>
   <th><%="作成日時"%></th>
   <th><%="タイトル"%></th>
   <th><%="店舗名"%></th>  
   <th><%=""%></th>
  </tr>
 <tbody>
  <tr>
   <% @blog.each do |blog|%>
   <th><%= blog.created_at.strftime("%Y/%m/%d")%></th>
   <td><%= blog.title%></td>
   <td><%= blog.shop.name%></td> 
   <td><%=link_to"詳細ページへ", store_photo_path(blog.id) %></td>
  </tr>
   <% end %>
 </tbody>
</table>
 <%= paginate @blog,param_name: 'blog_page' %>
<% else %>
<% end %>