<h1 class="h1-text">会員情報</h1>
<table class = "table">
 <tbody>
  <tr>
   <th><%="ニックネーム"%></th>
   <td><%= @customer.nickname%></td>
  </tr>
  <tr>
   <th><%="email"%></th>
   <td><%= @customer.email%></td>
  </tr>
 </tbody>
</table>
<h3>レビュー一覧</h3>
<table class = "table">
 <thead>
  <tr>
   <th><%="レビュー店舗名"%></th>      
   <th><%="タイトル"%></th>
   <th><%="作成日時"%></th>
  </tr>     
 </thead>   
 <tbody>
<% @reviews.each do |review|%>     
  <tr>
   <td><%= review.shop.name%></td>
   <td><%= link_to admin_review_path(review.id) do %>
       <%= review.title%></td>
       <% end %>
   <td><%=review.created_at.strftime("%Y/%m/%d")%></td>
  </tr>
<% end %>
 </tbody>
</table>
<%= paginate @reviews%>
<h3>登録店舗一覧</h3>
<table class = "table">
 <thead>
 <tr>
  <th><%="店舗名"%></th>
 </tr>
 </thead>
 <tbody>
     <% @bookmarks.each do |bookmark|%>
  <tr>
   <td><%= link_to admin_shop_path(bookmark.id) do %>
       <%= bookmark.shop.name%></td>  
       <% end %>
  </tr> 
     <% end %>
     <%= paginate @bookmarks%>
 </tbody>
</table>
<%= link_to "このアカウントを削除する", "/admin/unsubscribe/customer/#{@customer.id}",class: "btn btn-danger" %>