<h1 class="h1-text">会員情報</h1>
<table class = "table">
 <tbody>
  <tr>
   <th><%="ニックネーム"%></th>
   <td><%= @customer.nickname%></td>
  </tr>
  <tr>
   <th><%="email"%></th>
   <td><%= @customer.email%></td>
  </tr>
 </tbody>
</table>
<h3>レビュー一覧</h3>
<table class = "table">
 <thead>
  <tr>
   <th><%="レビュー店舗名"%></th>      
   <th><%="タイトル"%></th>
   <th><%="作成日時"%></th>
   <th><%= ""%></th>
  </tr>     
 </thead>   
 <tbody>
<% @reviews.each do |review|%>     
  <tr>
   <td><%= review.shop.name%></td>
   <td><%= review.title%></td>
   <td><%=review.created_at.strftime("%Y/%m/%d")%></td>
   <td><%= link_to"詳細ページへ", admin_review_path(review.id) %></td>
  </tr>
<% end %>
 </tbody>
</table>
<%= paginate @reviews, param_name: 'review_page' %>
<h3>登録店舗一覧</h3>
<table class = "table">
 <thead>
 <tr>
  <th><%= "店舗名"%></th>
  <th><%= "住所"%></th>
  <th><%= ""%></th>
 </tr>
 </thead>
 <tbody>
     <% @bookmarks.each do |bookmark|%>
  <tr>
   <td><%= bookmark.shop.name %></td>  
   <td><%= bookmark.shop.address %></td>
   <td><%= link_to"詳細ページへ", admin_shop_path(bookmark.id) %></td>
  </tr> 
     <% end %>

 </tbody>
</table>
     <%= paginate @bookmarks, param_name: 'bookmark_page'%>
<% if @customer.is_deleted == false %>     
<%= link_to "このアカウントを削除する", "/admin/unsubscribe/customer/#{@customer.id}",class: "btn btn-danger" %>
<% else %>
<h3 class = "h3-text">このアカウントは削除されています</h3>
<% end %>