<h1 class="h1-text">レビュー詳細画面</h1>
<table class = "table">
 <tbody>
     <tr>
     <th><%= "店舗名"%></th>
     <td><%= @review.shop.name%></td>
     </tr>
     <tr>
     <th><%= "タイトル"%></th>
     <td><%= @review.title%></td>
     </tr>
     <tr>
     <th><%= "レビュー"%></th>
     <td><%= @review.introduction%></td>
     </tr>
         <% if @review.image.attached? %>
     <tr>
     <th><%= "画像"%></th>
     <td><%=image_tag @review.image%></td>
     </tr>
         <% else %>
     <tr>
     <th><%= "画像"%></th>
     <td><%="画像はありません"%></td>
     </tr>     
         <% end %>
     <tr>
     <th><%= "作成日時"%></th>
     <td><%= @review.created_at.strftime("%Y/%m/%d")%></td>
     </tr> 
 </tbody>
</table>
<%=link_to '削除する', admin_review_path(@review.id), method: :delete,class: "btn btn-danger" %>