<table class="table">
  <% if @range == "Shop" %>
  <thead>
    <tr>
      <th><%= "店舗名"%></th>
      <th><%= "住所"%></th>
      <th><%= ""%></th>
    </tr>
  </thead>
    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td><%= shop.name %></td>
          <td><%= shop.address%></td>
          <td><%= link_to"詳細ページへ", admin_shop_path(shop.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <table class="table">
    <thead>
     <tr>
       <th><%= "ニックネーム"%></th>
       <th><%= "email"%></th>
       <th><%= ""%></th>
     </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.nickname %></td>
          <td><%= customer.email %></td>
          <td><%= link_to"詳細ページへ", admin_customer_path(customer.id) %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<% end %>