<h1>レビュー一覧</h1>
<table class="table">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
<% @reviews.each do  |f| %>
<tr>
    <th><%="作成日時"%></th>
    <th><%="タイトル"%></th>        

</tr>

<th><%= f.created_at.strftime("%Y/%m/%d")%></th>

<td> <%= link_to review_path(f.id) do %>
    <%= f.title %></td>
</tr>
<% end %>
<% end %>
<%=  paginate @reviews %>

</tbody>
</table>