<h1 class="h1-text">レビュー一覧</h1>
<table class="table">
 <thead>
  <tr>
   <th><%="作成日時"%></th>
   <th><%="タイトル"%></th>        
  </tr>
 </thead>
 <tbody>
  <tr>
    <% @reviews.each do  |review| %>
   <th><%= review.created_at.strftime("%Y/%m/%d")%></th>
   <td> <%= link_to review_path(review.id) do %>
        <%= review.title %></td>
  </tr>
    <% end %>
    <% end %>
    

 </tbody>
</table>