<h1>レビュー</h1>
<% if @review.errors.any? %>
  <ul>
    <% @review.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
  </ul>
<% end %>
<%= form_with model: @review, url: reviews_path, local: true, method: :post do |f| %>
<%= f.select :shop_id, options_from_collection_for_select(Shop.all, :id, :name) %>
<%= f.text_field :title %>
<%= f.text_area :introduction %>
<%= f.file_field :image,accept: "image/*" %>
<%= f.submit 'レビューを投稿する'%>
<% end %>