<%= link_to '一覧へ戻る',reviews_path,class: "btn btn-primary"%>
<% if @review.shop.is_deleted == false%>
<h1 class="h1-text">レビュー詳細画面</h1>
<table class="table">
 <tbody>
  <tr>
   <th><%= "店舗名"%></th>    
   <td><%=@review.shop.name%></td>
  </tr>
  <tr>
   <th><%= "タイトル"%></th>  
   <td><%=@review.title%></td>
  </tr>
  <tr>
   <th><%= "レビュー"%></th>  
   <td><%=@review.introduction%></td>
  </tr>
  <tr>
   <th><%= "作成日時"%></th>
   <td><%= @review.created_at.strftime("%Y/%m/%d")%></td>
  </tr>
  <tr>
   <th><%= "画像" %></th> 
   <td>
       <% if @review.image.attached? %>
        <%= image_tag @review.image%>
       <% else %>
       <%="画像はありません"%>
       <% end %>
   </td>
  </tr>
 </tbody>
</table>
<%= link_to"編集する",edit_review_path(@review.id),class: "btn btn-warning" %>
<%= link_to"削除する",review_path(@review.id), method: :delete,class: "btn btn-danger" %>
<% else %>
<h1 class="h1-text">このアカウントは削除されました。</h1>
<% end %>