<h1>レビューshow</h1>
<table class="table">
 <tbody>
<tr>
<th><%= "店舗名"%></th>    
<td><%=@review.shop.name%></td>
</tr>
<tr>
    <th><%= "タイトル"%></th>  
<td><%=@review.title%></td>
</tr>
<tr>
    <th><%= "レビュー"%></th>  
<td><%=@review.introduction%></td>
</tr>
<tr>
     
<td><% if @review.image.attached? %></td>
</tr>
<tr>
    <th><%= "画像"%></th> 
<td><%= image_tag @review.image%></td>
</tr>
<tr>
    <th><%= "作成日時"%></th>
<td><%= @review.created_at.strftime("%Y/%m/%d")%></td>
 </tr>
 </tbody>
</table>
<% else %>
<% end %>

