<h1 class="h1-text">ブログ編集画面</h1>
<%=form_with model: @blog,url: shop_blog_path(params[:id]), method: :patch do |blog| %>
<table class="table">
 <tbody>
  <tr>
   <th><%=blog.label :title ,"タイトル"%></th>
   <td><%=blog.text_field:title %></td>
  </tr>
  <tr>
   <th><%=blog.label :introduction ,"ブログ"%></th>
   <td><%=blog.text_area:introduction %></td>
  </tr>
  <tr>
   <th><%=blog.label :image ,"画像"%></th>
   <td><%=blog.file_field:image,accept: "image/*" %></td>
  </tr>  
 </tbody>
</table>
<%=blog.submit'変更を保存する',class: "btn btn-success"%>
<% end %>