<h1>ブログ投稿画面</h1>
<% if @blog.errors.any? %>
  <ul>
    <% @blog.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @blog, url: shop_blogs_path, method: :post do  |f| %>
<%=f.label :title %>
<%= f.text_field :title %></br>
<%=f.label :introduction %>
<%= f.text_area :introduction %></br>
<%= f.label :image %>
<%= f.file_field :image, accept: "image/*" %></br>
<%= f.submit '投稿する' %>
<% end %>


