<h1 class="h1-text">ブログ投稿画面</h1>
<% if @blog.errors.any? %>
  <ul>
    <% @blog.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<table class="table">
 <tbody>
   <%= form_with model: @blog, url: shop_blogs_path, method: :post do  |blog| %>
   <tr>
     <th><%= blog.label :title,"タイトル" %></th>
     <td><%= blog.text_field :title %></td>
   </tr>
   <tr>
     <th><%= blog.label :introduction,"説明" %></th>
     <td><%= blog.text_area :introduction %></td>
   </tr>
   <tr>
     <th><%= blog.label :image,"画像" %></th>
     <td><%= blog.file_field :image, accept: "image/*" %></td>
   </tr>
 </tbody>
</table>
<%= blog.submit '投稿する',class: "btn btn-success" %>
<% end %>


